/* Slide4.css */
.Con {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #FFFFFF;
  padding: 50px 10%;
  box-sizing: border-box;
  overflow: hidden;
  /* margin-bottom: 10px; */
  justify-content: center;
  background: url('./new.png') no-repeat center;
  position: relative;
}

.tagline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  animation: slideUp 1s ease-in-out;
}

.tagline-section span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1A3A8C;
}

.underline {
  width: 100px;
  height: 5px;
  left: 500px;
  background-color: #F28C38;
  margin-top: 15px;
}

.landing-container {
  min-height: 90vh;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.landing-content {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 50%;
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  margin-right: 520px;
}

.landing-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px #4285F4;
}


.text-section {
  flex: 1 1 400px;
  padding: 1rem;
}

.text-section h1 {
  font-size: 2.5rem;
  color: #4285f4;
  font-weight: 800;
}

.text-section h2 {
  font-size: 1.5rem;
  color: #778ba0;
  margin-bottom: 1rem;
}

.text-section p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.see-more-btn {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-more-btn:hover {
  background-color: white;
  color: #4285f4;

}

.social-icons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: #1a2e42;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.icon:hover {
  color: #4285f4;
  transform: scale(1.2);
}

.image-section {
  flex: 1 1 400px;
  text-align: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  animation: fadeUp 1.2s ease-out;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .landing-content {
    flex-direction: column;
    text-align: center;
  }

  .text-section, .image-section {
    flex: 1 1 100%;
  }

  .text-section h1 {
    font-size: 2rem;
  }

  .see-more-btn {
    width: 100%;
    max-width: 200px;
  }
}