@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .sectionStyle {
        flex-direction: column;
        text-align: center;
    }

    .imageStyle {
        margin-bottom: 20px;
    }
}

